@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  margin: 0;
  padding: 0;
}

.content-wrapper {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}
.content-wrapper .heading {
  overflow: hidden;
  padding-left: 5%;
  display: flex;
  align-items: center;
  width: 100%;
  height: 4.25rem;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1215686275);
  background: white;
  box-sizing: border-box;
}
.content-wrapper .partation-warpper {
  padding: 2rem;
  margin-top: 2rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  height: calc(100% - 7rem);
  box-sizing: border-box;
  gap: 2rem;
}
.content-wrapper .partation-warpper .content-container,
.content-wrapper .partation-warpper .image-container {
  flex-grow: 1;
  flex-basis: calc(50% - 1rem);
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: calc(50% - 1rem);
}
.content-wrapper .partation-warpper .content-container {
  padding: 0px;
}
.content-wrapper .partation-warpper .content-container .container {
  display: flex !important;
  flex-direction: column !important;
  gap: 0.5rem;
  height: calc(100% - 10rem);
  width: 70%;
}
.content-wrapper .partation-warpper .content-container .container .login-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: rgb(255, 255, 255);
  height: 5rem;
  margin-bottom: 1.5rem;
}
.content-wrapper .partation-warpper .content-container .container .login-wrapper .login {
  font-family: Inter;
  font-size: 36px;
  font-weight: 600;
  line-height: 46.8px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #1c1b1c;
  margin-bottom: 1rem;
}
.content-wrapper .partation-warpper .content-container .container .login-wrapper .paragraph {
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 23.4px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #484646;
}
.content-wrapper .partation-warpper .content-container .container .login-wrapper .paragraph span {
  font-family: Inter;
  font-size: 15px;
  font-weight: 600;
  line-height: 23.4px;
  text-align: left;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #7343ea;
}
.content-wrapper .partation-warpper .content-container .container .login-options {
  width: 100;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.content-wrapper .partation-warpper .content-container .container .login-options .with {
  display: flex;
  justify-content: center;
  gap: 0.4rem;
  align-items: center;
  width: 100%;
  height: 3.5rem;
  border: 1px solid black;
  border-radius: 3.125rem;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #313030;
}
.content-wrapper .partation-warpper .content-container .container .login-options .with {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3.5rem;
  border: 1px solid #C9C6C5;
  border-radius: 3.125rem;
  overflow: hidden;
  background-color: #ffffff;
  position: relative;
}
.content-wrapper .partation-warpper .content-container .container .login-options .password {
  position: relative;
}
.content-wrapper .partation-warpper .content-container .container .login-options .hide {
  position: absolute;
  right: 0;
  margin-top: 0.4rem;
  margin-right: 1rem;
}
.content-wrapper .partation-warpper .content-container .container .login-options input {
  width: 100%;
  height: 100%;
  border: none; /* Remove input border */
  outline: none; /* Remove input outline */
  font-family: Inter, sans-serif; /* Match font family */
  font-size: 16px; /* Match font size */
  padding: 0 1rem; /* Add horizontal padding for input text */
  box-sizing: border-box; /* Ensure padding doesn't overflow */
  color: #313030; /* Text color */
}
.content-wrapper .partation-warpper .content-container .container .login-options input::-moz-placeholder {
  color: #c0c0c0; /* Placeholder text color */
  font-size: 14px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 18.2px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #adaaaa;
}
.content-wrapper .partation-warpper .content-container .container .login-options input::placeholder {
  color: #c0c0c0; /* Placeholder text color */
  font-size: 14px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 18.2px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #adaaaa;
}
.content-wrapper .partation-warpper .content-container .container .terms {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 18.2px;
  text-align: center;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #adaaaa;
}
.content-wrapper .partation-warpper .content-container .container .terms span {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 18.2px;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #1b74f9;
}
.content-wrapper .partation-warpper .content-container .container .check-error {
  height: 3rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content-wrapper .partation-warpper .content-container .container .check-error .check-box {
  height: 1.5rem;
  width: 25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content-wrapper .partation-warpper .content-container .container .check-error .check-box .text {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #605e5e;
}
.content-wrapper .partation-warpper .content-container .container .check-error .forgot-password {
  width: 30%;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  text-align: right;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #7343ea;
}
.content-wrapper .partation-warpper .content-container .container .login-button {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 0.4rem;
  align-items: center;
  width: 100%;
  height: 3rem;
  border-radius: 3.125rem;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #313030;
  background: #683cd3;
  color: white;
}
.content-wrapper .partation-warpper .content-container .container .signin-with {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  align-items: center;
}
.content-wrapper .partation-warpper .content-container .container .signin-with .part1 {
  width: 40%;
  height: 1px;
  background-color: #313131;
}
.content-wrapper .partation-warpper .content-container .container .signin-with .part2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #313131;
}
.content-wrapper .partation-warpper .content-container .container .signin-with .part3 {
  width: 40%;
  height: 1px;
  background-color: #313131;
}
.content-wrapper .partation-warpper .content-container .container .google-login {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3.5rem;
  border: 1px solid #797676;
  border-radius: 3.125rem;
  overflow: hidden;
  background-color: #ffffff;
  gap: 0.4rem;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #313030;
}
.content-wrapper .partation-warpper .content-container .page2 {
  margin-top: 1rem;
  height: calc(100% - 5rem);
}
.content-wrapper .partation-warpper .image-container img {
  max-width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}/*# sourceMappingURL=style.css.map */